@model IEnumerable<AboutVM>

    <div class="container mt-5">
    

    <a asp-action="Create" class="btn btn-primary btn-success btn-sm">Create New</a>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td><img src="~/img/@item.Image" alt="@item.Title" style="width:100px;" /></td>
                    <td>
                    <td>
                        
                        <a class="btn btn-warning text-white btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-grease-pencil"></i></a>
                        <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger text-white btn-sm"><i class="mdi mdi mdi-delete"></i></button>
                        </form>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
    </div>



